---
import Base from "@/layouts/Base.astro";
import { getTaxonomy } from "@/lib/taxonomyParser.astro";
import { humanize } from "@/lib/utils/textConverter";

const categories = await getTaxonomy("posts", "categories");

---

<Base title={"Categories"}>
  <section class="section">
    <div class="container text-center">
      <h1 class="h2 page-heading">Categories</h1>
      <ul class="space-x-4">
        {
          categories.map((category) => (
            <li class="inline-block">
              <a
                href={`${import.meta.env.BASE_URL}categories/${category}`}
                class="rounded-lg bg-light px-4 py-2 text-dark transition hover:bg-primary hover:text-white flex items-center group"
              >
                <svg xmlns="http://www.w3.org/2000/svg" class="inline mr-1" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor"><path d="M3 3h8v8H3zm10 0h8v8h-8zM3 13h8v8H3zm13 0h2v3h3v2h-3v3h-2v-3h-3v-2h3z"/></svg>{humanize(category || "")}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</Base>

